/*CSS form for devices with resolution over 769px*/
@media only screen and (min-width: 769px) {
.deskContent{
	display: block;
}
.phoneContent{
	display: none;
}

/*Overall css*/
*{
	margin: 0;
	padding: 0;
/*	box-sizing: border-box;
*/}

.cover-bg{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.mt-20{
	margin-top: 20px;
}

.mb-20{
	margin-bottom: 20px;
}

.mb-30{
	margin-bottom: 30px;
}

.pb-35{
	padding-bottom: 35px;
}

.mt-35{
	margin-top: 35px;
}

.py-15{
	padding-top: 30px;
	padding-bottom: 15px;
}


.section_padding{
	padding: 100px 0;
}

/*.section_padding{
	padding: 100px 0;
}*/

h1, h2, h3, h4{
	font-family: 'lato', sans-serif;
	color: #000000;
	font-weight: 700;
}

p{
	line-height: 1.6;
	color: #000000;
}

span, a{
	display: inline-block;
}

/*Navbar css*/
nav {
	position: absolute;
	top: 40px;
	right: 35px;
	width: 35px;
}
nav span {
	background-color: #222;
	margin: 4px 0;
	height: 3px;
	display: block;
}


.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	transition: 0.5s all;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	transition: 0.5s all;
}

.navbar-dark .navbar-nav .nav-link.active{
	color: #f15627 !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #f15627
}

.navbar{
	padding: 15px 0;
	background: transparent;
}

/*scroll behavior css*/
html{
	scroll-behavior: smooth;
}

/* buttons css */
.btn{
	background-color: #f15627;
	border: 2px solid #f15627;
	padding: 15px 20px;
	box-shadow: inset 0 0 0 0 #fff;
	letter-spacing: 1px;
	border-radius: 0;
	color: #fff;
	font-size: 14px;
}
.btn:hover{
	background-color: #fff;
	color: #f15627;
	border: 2px solid #fff;
	transform: scale(1.1);
	transition: 0.3s;
}

/*.btn{
	background-color: #f15627;
	border: 2px solid #f15627;
	padding: 15px 20px;
	box-shadow: inset 0 0 0 0 #fff;
	letter-spacing: 1px;
	border-radius: 0;
	color: #fff;
	font-size: 14px;
}
.btn:hover{
	background-color: #fff;
	color: #f15627;
	border: 2px solid #fff;
	transform: scale(1.1);
	transition: 0.3s;
}
*/
/*Banner section css*/
.banner{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
	background-attachment: fixed; 
	height: 100vh;
}

.banner .caption h4{
	color: #fff;
	font-size : 20px;
	font-weight: 400;
}

.banner .caption h2{
	color: #fff;
	font-size : 70px;
	letter-spacing: -1px;
}

.banner .caption p{
	color: #fff;
	font-size : 17px;
	line-height: 32px;
	opacity: 0.7; 
}

.banner .caption .social_icon a{
	color: #fff;
	width: 100px;
	height: 60px;
	line-height: 40px;
	border-radius: 50%;
	text-shadow: 10px 10px 20px rgba(0,0,0,0.5);
	font-size: 48px;
}

.banner .caption .social_icon a:hover{
	color: #f15627;
}

/*Section title css*/
.section_title{
	position: relative;
	color: #000000;
	margin-bottom: 70px;
	width: 100%;
}

.section_title p{
	background-color: #f15627;
	color: #fff;
	display: inline-block;
	margin-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
	padding: 0 12px;
	letter-spacing: 1px;
}

.section_title h3{
	position: relative;
	color: #000000;
	font-size: 36px;
	text-transform: capitalize;
	line-height: 1.14;
	letter-spacing: 1.4px;
	padding-bottom: 13px;
}


.section_title h3:after{
}

/*About section css*/
.about{
	height: 100vh;
	background-image: linear-gradient(to right top, #f0ebe5, #e7e0d7, #dfd4ca, #d7c8bd, #cfbdb1);
}

.about .part_text h4{
	font-size: 24px;
}

.about .part_text p{
	border-bottom: 1px solid #000000;
	width: 100%;
}

/*.about .part_text p{
	border-bottom: 1px solid #000000;
	width: 80%;
}
*/

.about .part_photo img{
	width: 70%;
	margin-bottom: 250px;
	margin-top: 30px;
	border-bottom: 1px solid #f15627;
	border-right: 1px solid #f15627;
}

/*.about .part_photo img{
	width: 70%;
	margin-bottom: 250px;
	margin-top: 30px;
	border-bottom: 1px solid #f15627;
	border-right: 1px solid #f15627;
}
*/

.about .part_text .info li{
	width: 48%;
	display: inline-block;
	margin-bottom: 15px;
	color: #000000	
}

/*.about .part_text .info li{
	width: 48%;
	display: inline-block;
	margin-bottom: 15px;
	color: #000000	
}*/

/*Skills section card content*/
.middle{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.card{
	width: 340px;
	height: 340px;
	cursor: pointer;
	background-color: rgba(245, 245, 245, 0)
}

.front, .back{
	width: 100%;
	height: 100%;
	overflow: auto;
	hyphens: auto;
	backface-visibility: hidden;
	position: absolute;
	transition: 0.6s linear;
}

.front img{
	height: 100%;
}

.front{
	transform: perspective(600px) rotateY(0deg);
	background-image: transparent;
}

.back{
	background-color: #f1f1f1;
	transform: perspective(600px) rotateY(180deg);
	opacity: 0.85;
}

.back_content{
	color: #2c3e50;
	text-align: center;
	width: 200%;
	font-size: 12px;
	word-wrap: normal;
	display: block;
	width: 320px;
}

.card:hover .front{
	transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back{
	transform: perspective(600px) rotateY(0deg);
}

/*Skills section other content*/
.skills{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background_02.jpg);
	background-attachment: cover;	
}

.skills .section_title h3{
	color: #fff;
}

/*Projects section css*/
.projects{
	background-image: linear-gradient(to right top, #f0ebe5, #e7e0d7, #dfd4ca, #d7c8bd, #cfbdb1);
	transition: all 0.3s;
	height: 100vh;
}

.projects .section_title h3{
	color: #000;
}

.projects .projects-item .part-img{
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
}

.projects .projects-item .part-img img{
	transition: all 0.3s;
}

.projects .projects-item:hover .part-img img{
	transform: scale(1.1);
	opacity: 0.7;
}

.projects .projects-item .part-img .post-info-category{
	position: absolute;
	left: 0;
	bottom: 0;
}

.projects .projects-item .part-img .post-info-category a{
	background: #f15627;
	padding: 7px 19px;
	color: #000;
}

.projects .projects-item .content{
	padding: 20px;
}

.projects .projects-item .content p{
	color: #000;
}

.projects .projects-item .content .title{
	margin-bottom: 20px;
}

.projects .projects-item .content .title h4{
	font-size: 16px;
	color: #000;
}

.projects .projects-item .content .title h4 a{
	color: #000;
}

.projects .projects-item .content .title .meta span{
	color: #000;
	font-size: 12px;
}

.projects .projects-item .content .title .meta a{
	color: #f15627;
}

.projects .projects-item .content .author{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 20px;
}

.projects .projects-item .content .author .author-img{
	width: 70px;
	height: 70px;
	margin-right: 20px;
	margin-bottom: 0;
}

.projects .projects-item .content .author .author-img img{
	border-radius: 50%;
}

.projects .projects-item .content .author .text h5{
	font-size: 10px;
	font-weight: 800;
	margin: 0;
}

.projects .projects-item .content .author .text h5 a{
	color: #000;
}

/*Contact section css*/
.contact{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
	background-attachment: fixed; 
	height: 100vh;
}

.contact .section_title h3{
	color: #fff;
}

.contact .part-info{
	background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.1), transparent);
	padding: 30px;
	margin-bottom: 50px;
}

.contact .info-block{
	border-right: 1px solid #fff;
}

.contact .part-info .info-block .icon{
	margin-bottom: 15px;
}

.contact .part-info .info-block .icon i{
	display: inline-block;
	color: #fff;
	font-size: 38px;
}

.contact .part-info .info-block h5{
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
}

.contact .part-info .info-block p{
	color: #fff;
	opacity: 0.9;
}

.contact .part-info .col-md-4:last-child .info-block {
	border-right: 0;
}

/*Footer section css*/
.footer{
	background: #212121;
	padding: 40px 0;
}
 
.footer .social_icon{
	margin: 0 auto;
	width: 100%; 
}

.footer .social_icon a{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	background: #252525;
	transition: 0.5s all;
}

.footer .social_icon a i{
	color: #fff;
	font-size: 14px;
}

.footer .social_icon a:hover{
	background: #f15627;
}

.footer .copy{
	width: 100%;
	padding-top: 30px;
}

.footer .copy h6{
	color: #999;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}
}

/*CSS form for devices with resolution under 768px*/
@media only screen and (max-width: 768px){
.deskContent{
	display: none;
}
.phoneContent{
	display: block;
}

/*Overall css*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cover-bg{
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
	height: 100vh;
}

/*.cover-bg2{
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background_02.jpg);
	height: 100vh;
}*/

.cover-bg2:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background_02.jpg), no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.cover-bg{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover; 
    }*/

.mt-20{
	margin-top: 1.25rem;
}

.mb-20{
	margin-bottom: 1.25rem;
}

.mb-30{
	margin-bottom: 1.875rem;
}

.pb-35{
	padding-bottom: 2.188rem;
}

.mt-35{
	margin-top: 2.188rem;
}

.py-15{
	padding-top: 1.875rem;
	padding-bottom: 0.938rem;
}


.section_padding{
	padding: 1.2rem 0;
}
/*.section_padding{
	padding: 100px 0;
}*/

h1, h2, h3, h4{
	font-family: 'lato', sans-serif;
	color: #000000;
	font-weight: 700;
}

p{
	line-height: 1.6;
	color: #000000;
}

span, a{
	display: inline-block;
}

/*Navbar css*/
nav {
	position: absolute;
	top: 2.5rem;
	right: 2.188rem;
	width: 2.188rem;
}
nav span {
	background-color: #222;
	margin: 0.25rem 0;
	height: 0.188rem;
	display: block;
}


.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.063rem;
	font-size: 0.875rem;
	transition: 0.5s all;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.063rem;
	font-size: 0.875rem;
	transition: 0.5s all;
}

.navbar-dark .navbar-nav .nav-link.active{
	color: #f15627 !important;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #f15627
}

.navbar{
	padding: 0.938rem 0;
	background: transparent;
}

/*scroll behavior css*/
html{
	scroll-behavior: smooth;
}

/* buttons css */
.btn{
	width: 48%;
	background-color: #f15627;
	border: 0.125rem solid #f15627;
	padding: 0.313rem 0.313rem;
	box-shadow: inset 0 0 0 0 #fff;
	letter-spacing: 0.063rem;
	border-radius: 0;
	color: #fff;
	font-size: 0.625rem;
}

/*Banner section css*/
.banner{
/*	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
*//*	background-attachment: scroll; 
	height: 100vh;
*//*	width: 100%;
*/
}

.banner .caption h4{
	color: #fff;
	font-size : 1.25rem;
	font-weight: 400;
}

.banner .caption h2{
	color: #fff;
	font-size : 4.375rem;
	letter-spacing: -0.063rem;
}

.banner .caption p{
	color: #fff;
	font-size : 1.063rem;
	line-height: 2;
	opacity: 0.7; 
}

.banner .caption .social_icon a{
	color: #fff;ยง
	width: 6.25rem;
	height: 3.75rem;
	line-height: 2.5rem;
	border-radius: 50%;
	text-shadow: 0.625rem 0.625rem 1.25rem rgba(0,0,0,0.5);
	font-size: 3rem;
	padding: 3rem;
}

.banner .caption .social_icon a:hover{
	color: #f15627;
}

/*Section title css*/
.section_title{
	position: relative;
	color: #000000;
	margin-bottom: 0rem;
	width: 100%;
}
.section_title p{
	background-color: #f15627;
	color: #fff;
	display: inline-block;
	margin-bottom: 0.313;
	text-align: center;
	text-transform: uppercase;
	padding: 0 0.9rem;
	letter-spacing: 0.063rem;
}
.section_title h3{
	position: relative;
	color: #000000;
	font-size: 2.5rem;
	text-transform: capitalize;
	line-height: 1.14;
	letter-spacing: 0.088rem;
	padding-bottom: 0rem;
}

.section_title h3:after{
}

/*About section css*/
.about{
	height: 100vh;
	background-image: linear-gradient(to right top, #f0ebe5, #e7e0d7, #dfd4ca, #d7c8bd, #cfbdb1);
}

.about .part_text h4{
	font-size: 1.6rem;
}

.about .part_text p{
	border-bottom: 0.1rem solid #000000;
	width: 100%;
	font-size: 0.8rem;
}

/*.about .part_text p{
	border-bottom: 1px solid #000000;
	width: 80%;
}
*/

.about .part_photo img{
	height: 20%;
	width: 20%;
	margin-bottom: 1.2rem;
	/*float: left;*/
/*	margin-top: 30px;
*/	border-bottom: 0.1rem solid #f15627;
	border-right: 0.1rem solid #f15627;
}

/*.about .part_photo img{
	width: 70%;
	margin-bottom: 250px;
	margin-top: 30px;
	border-bottom: 1px solid #f15627;
	border-right: 1px solid #f15627;
}
*/

.about .part_text .info li{
	width: 48%;
	display: inline-block;
	margin-bottom: 1rem;
	color: #000000	
}

/*.about .part_text .info li{
	width: 48%;
	display: inline-block;
	margin-bottom: 15px;
	color: #000000	
}*/

/*Skills section other content*/
.skills{
	height: auto;
/*	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background_02.jpg);
	background-attachment: fixed; 
	height: inherit;
*/}

.skills .section_title h3{
	color: #fff;
}

/*Skills section card content*/
.middle{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.card{
	width: 21.25rem;
	height: 21.25rem;
	cursor: pointer;
	background-color: rgba(245, 245, 245, 0)
/*	padding-bottom: 50px;
*/}

.front, .back{
	width: 100%;
	height: 100%;
	overflow: auto;
	hyphens: auto;
	backface-visibility: hidden;
	position: absolute;
	transition: 0.6s linear;
}

/*.front img{
	height: 100%;
}
*/
.front{
	background-color: #f1f1f1;
	opacity: 0.8;
/*	transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(0deg);
	background-image: transparent;
*/}
.front_content{
	color: #2c3e50;
	text-align: center;
	width: 200%;
	font-size: 0.75rem;
	word-wrap: normal;
	display: block;
	width: 20rem;
}

.back{
	background-color: #f1f1f1;
	transform: perspective(37.5rem) rotateY(180deg);
}

.back_content{
	color: #2c3e50;
	text-align: center;
	width: 200%;
	font-size: 0.75rem;
	word-wrap: normal;
	display: block;
	width: 20rem;
}

/*.card:hover .front{
	transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back{
	transform: perspective(600px) rotateY(0deg);
}
*/
/*Projects section css*/
.projects{
	background-image: linear-gradient(to right top, #f0ebe5, #e7e0d7, #dfd4ca, #d7c8bd, #cfbdb1);
	transition: all 0.3s;
	height: auto;
}

.projects .section_title h3{
	color: #000;
}

.projects .projects-item .part-img{
	position: relative;
	overflow: hidden;
	transition: all 0.3s;
}

.projects .projects-item .part-img img{
	transition: all 0.3s;
}

.projects .projects-item:hover .part-img img{
	transform: scale(1.1);
	opacity: 0.7;
}

.projects .projects-item .part-img .post-info-category{
	position: absolute;
	left: 0;
	bottom: 0;
}

.projects .projects-item .part-img .post-info-category a{
	background: #f15627;
	padding: 0.438rem 1.188rem;
	color: #000;
}

.projects .projects-item .content{
	padding: 1.25rem;
}

.projects .projects-item .content p{
	color: #000;
}

.projects .projects-item .content .title{
	margin-bottom: 1.25rem;
}

.projects .projects-item .content .title h4{
	font-size: 1rem;
	color: #000;
}

.projects .projects-item .content .title h4 a{
	color: #000;
}

.projects .projects-item .content .title .meta span{
	color: #000;
	font-size: 0.75rem;
}

.projects .projects-item .content .title .meta a{
	color: #f15627;
}

.projects .projects-item .content .author{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 1.25rem;
}

.projects .projects-item .content .author .author-img{
	width: 4.375rem;
	height: 4.375rem;
	margin-right: 1.25rem;
	margin-bottom: 0;
}

.projects .projects-item .content .author .author-img img{
	border-radius: 50%;
}

.projects .projects-item .content .author .text h5{
	font-size: 0.625rem;
	font-weight: 800;
	margin: 0;
}

.projects .projects-item .content .author .text h5 a{
	color: #000;
}

/*Contact section css*/
.contact{/*
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/background.jpg);
	background-attachment: scroll; 
	height: 100vh;*/
/*	width: 100%;
*/	/*background-size: contain;
*/}

.contact .section_title h3{
	color: #fff;
}

.contact .part-info{
	background: linear-gradient(to right, transparent, rgba(200, 200, 200, 0.1), transparent);
	padding: 4.875rem;
	margin-bottom: 3.125rem;
}

.contact .info-block{
	border-bottom: 0.063rem solid #fff;
	padding-bottom: 2.938rem;
}

.contact .part-info .info-block .icon{
	margin-bottom: 2.938rem;
}

.contact .part-info .info-block .icon i{
	display: inline-block;
	color: #fff;
	font-size: 1.75rem;
	padding-top: 3.25rem;
}

.contact .part-info .info-block h5{
	color: #fff;
	font-size: 1.5rem;
	margin-bottom: 0.625rem;
/*	padding-bottom: 10px;
*/}

.contact .part-info .info-block p{
	color: #fff;
	opacity: 0.9;
	font-size: 1.25rem;
}

.contact .part-info .col-md-4:last-child .info-block {
	border-bottom: 0;
}

/*Footer section css*/
.footer{
	background: #212121;
	padding: 2.5rem 0;
}
 
.footer .social_icon{
	margin: 0 auto;
	width: 100%; 
}

.footer .social_icon a{
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 50%;
	margin-right: 0.625rem;
	background: #252525;
	transition: 0.5s all;
}

.footer .social_icon a i{
	color: #fff;
	font-size: 0.875rem;
}

.footer .social_icon a:hover{
	background: #f15627;
}

.footer .copy{
	width: 100%;
	padding-top: 1.875rem;
}

.footer .copy h6{
	color: #999;
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.125rem;
}


}

